
{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-container">
        {% block sidebar %}
            {{ parent() }}
        {% endblock %}
        {% block main %}
            {{ parent() }}
        {% endblock %}
        <div class="container" style="margin-top: 50px;">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col"><a href="#" style="color: #8d97ad">Notes des etudiants de Test PHP</a></th>
                </tr>
                </thead>
            </table>
            <table class="table">
                <thead class="thead-light" >
                <tr class="offset-1 col-6">
                    <th scope="col"><a href="#" style="color: #8d97ad">Notes des etudiants de Test PHP</a></th>
                </tr>
                </thead>

            </table>
            <table class="table">
                <thead class="thead-light" >
                <tr class="offset-1 col-6">
                    <th scope="col"><a href="#" style="color: #8d97ad">Notes des etudiants de Test PHP</a></th>
                </tr>
                </thead>

            </table>
            <table class="table">
                <thead class="thead-light" >
                <tr class="offset-1 col-6">
                    <th scope="col"><a href="#" style="color: #8d97ad">Notes des etudiants de Test PHP</a></th>
                </tr>
                </thead>

            </table>
        </div>
    </div>



{% endblock %}
