{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-container">
        {% block sidebar %}
            {{ parent() }}
        {% endblock %}
        {% block main  %}
            {{ parent() }}
        {% endblock %}
        <div class="container" style="margin-top: 100px">
            <section class="card">
                <div class="card-header">
                    <h3 class="card-title">Ajouter Evolution</h3>
                </div>
                <div class="card-body">

                    <form action="designer-finish.html" class="form-horizontal" role="form">

                        <div class="form-group">
                            <label for="name" class="col-sm-3 control-label">Nom d'evaluation</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="name" id="name" placeholder="Exemple : test PHP">
                            </div>
                        </div> <!-- form-group // -->
                        <div class="form-group">
                            <label for="date" class="col-sm-3 control-label">Date d'evaluation</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" name="date" id="date" placeholder="Exemple : 28/09/2019">
                            </div>
                        </div> <!-- form-group // -->
                        <div class="form-group">
                            <label for="formation" class="col-sm-3 control-label">Sur quel formation ? </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="formation" id="formation" placeholder="Tapez le nom de formation">
                            </div>
                        </div> <!-- form-group // -->

                        <hr>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-primary">Ajouter Evaluation</button>
                            </div>
                        </div> <!-- form-group // -->
                    </form>

                </div><!-- card-body // -->
            </section><!-- card// -->
        </div>
    </div>

{% endblock %}