{% extends 'base.html.twig' %}
{% block stylesheets %}

{% endblock %}
{% block body %}
      <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- login area start -->
    <div class="login-area login-s2">
        <div class="container">
            <div class="login-box ptb--100">


                <form action="{{ path('login') }}" method="POST">
                    <div class="login-form-head">
                        <h4>Sign In</h4>
                        <p></p>
                    </div>
                    {% if errors %}
                        <div class="alert alert-danger">

                            {{ errors.messageKey  }}

                        </div>
                    {% endif %}
                    <div class="login-form-body">
                        <div class="form-gp">
                            <label for="username">Username</label>
                            <input type="text" name="_username" id="username" value="{{ userName }}">
                            <i class="ti-user"></i>
                        </div>
                        <div class="form-gp">
                            <label for="Password1">Password</label>
                            <input type="password" id="password" name="_password">
                            <i class="ti-lock"></i>
                        </div>
                        <div class="row mb-4 rmber-area">
                            <div class="col-6">
                            </div>
                            <div class="col-6 text-right">
                                <a href="#">Forgot Password?</a>
                            </div>
                        </div>
                        <div class="submit-btn-area">
                            <button id="form_submit" type="submit">Submit <i class="ti-arrow-right"></i></button>
                        </div>
                        <div class="form-footer text-center mt-5">
                            <p class="text-muted">Don't have an account? <a href="{{ path('user_register')}}">Sign up</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- login area end -->
{% endblock %}


